<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Xiamen!</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="wenhua_p.css">
    <script src="../vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header> 
            <h1>{{ title }}</h1>
        </header>
        <nav>
            <a v-for="item in navs" :key="item.text" :href="item.href">{{ item.text }}</a>
        </nav>
        
        <br><br>
        
        <!-- 顶部横幅图片 -->
        <div>
            <a href=""><img class="image2" :src="bannerImage" /></a>
        </div>

        <!-- 诗意引言 -->
        <div class="fifth">
            <ul>
                <p class="jianjie">{{ poeticQuote.line1 }}<br>{{ poeticQuote.line2 }}</p>
            </ul>
        </div>

        <!-- 欢迎文字 -->
        <p class="jianjie">
            {{ welcomeText.line1 }}
            <br>{{ welcomeText.line2 }}
        </p>
        <p class="tiaozhuan">{{ tipText }}</p>
        
        <!-- 文化主题预览表格 -->
        <table class="second">
            <tr height=auto>
                <td width="100"></td>
                <td width="400" v-for="(culture, index) in culturalThemes" :key="culture.id">
                    <div class="tupian">
                        <img class="image1" :src="culture.image" />
                    </div>
                </td>
                <td width="100" v-if="index < culturalThemes.length - 1"></td>
                <td width="100"></td>
            </tr>
            <tr height="20">
                <td width="100" height="20"></td>
                <td class="third" v-for="(culture, index) in culturalThemes" :key="'title-' + culture.id">
                    <span class="shuoming1">
                        <a :href="'#' + culture.anchor">{{ culture.name }}</a>
                    </span>
                </td>
                <td width="100" height="20" v-if="index < culturalThemes.length - 1"></td>
                <td width="100" height="20"></td>
            </tr>
        </table>
        
        <br><br><br>
        
        <!-- 闽南语部分 -->
        <div class="culture-section" id="mnh">
            <p class="biaoti">···{{ culturalDetails.minnan.title }}···</p>
            <p class="jianjie">
                <span v-for="(line, index) in culturalDetails.minnan.description" :key="index">
                    {{ line }}<br v-if="index < culturalDetails.minnan.description.length - 1">
                </span>
            </p>
            
            <!-- 视频展示 -->
            <div class="vdo" v-if="culturalDetails.minnan.video">
                <video :src="culturalDetails.minnan.video" controls="controls"></video>
            </div>
            <br>
            
            <!-- 闽南语示例图片和音频 -->
            <table class="second1">
                <tr height=auto>
                    <td width="100"></td>
                    <td width="500" v-for="example in culturalDetails.minnan.examples" :key="example.id">
                        <div class="tupian">
                            <img class="image1" :src="example.image" />
                        </div>
                    </td>
                    <td width="100"></td>
                </tr>
                <tr height="20">
                    <td width="100" height="20"></td>
                    <td class="third" v-for="example in culturalDetails.minnan.examples" :key="'audio-' + example.id">
                        <span :class="example.className" @click="playAudio(example.audioId)">{{ example.text }}</span>
                    </td>
                    <td width="100" height="20"></td>
                </tr>
            </table>
            
            <!-- 闽南语详细内容 -->
            <div class="neirong">
                <ul>
                    <br>
                    <p class="jianjie1">
                        <blockquote v-for="quote in culturalDetails.minnan.highlights" :key="quote">{{ quote }}</blockquote>
                        <br>
                        <blockquote>
                            有许多闽南语已经"出圈"了。例如: 
                            <template v-for="(word, index) in culturalDetails.minnan.popularWords" :key="word.id">
                                <span :class="word.className" @click="playAudio(word.audioId)">{{ word.text }}</span><span v-if="index < culturalDetails.minnan.popularWords.length - 1">、</span>
                            </template>
                            等等
                        </blockquote>
                    </p>
                    <p class="jianjie2">{{ culturalDetails.minnan.tips.title }}:</p>
                    <p class="jianjie1">
                        <blockquote v-for="tip in culturalDetails.minnan.tips.content" :key="tip">{{ tip }}</blockquote>
                        <audio :src="culturalDetails.minnan.music" controls="controls"></audio>
                    </p>
                    
                    <!-- 隐藏的音频元素 -->
                    <audio v-for="audio in allAudioFiles" :key="audio.id" :src="audio.src" :id="audio.id"></audio>
                    <br>
                </ul>
            </div>
        </div>
        
        <!-- 市花市树部分 -->
        <div class="culture-section" id="hua">
            <p class="biaoti">···{{ culturalDetails.flowers.title }}···</p>
            <p class="jianjie">
                <span v-for="(line, index) in culturalDetails.flowers.description" :key="index">
                    {{ line }}<br v-if="index < culturalDetails.flowers.description.length - 1">
                </span>
            </p>
            
            <table class="second1">
                <tr height=auto>
                    <td width="100"></td>
                    <td width="500" v-for="flower in culturalDetails.flowers.images" :key="flower">
                        <div class="tupian">
                            <img class="image1" :src="flower" />
                        </div>
                    </td>
                    <td width="100"></td>
                </tr>
            </table>
            
            <br><br>
            <div class="neirong">
                <br>
                <p class="jianjie1">
                    <span v-for="highlight in culturalDetails.flowers.highlights" :key="highlight">
                        ⚪{{ highlight }}<br>
                    </span>
                </p>
                <br>
            </div>
        </div>
        
        <br><br><br>
        
        <!-- 厦门地铁部分 -->
        <div class="culture-section" id="dt">
            <p class="biaoti">···{{ culturalDetails.metro.title }}···</p>
            <p class="jianjie">
                <span v-for="(line, index) in culturalDetails.metro.description" :key="index">
                    {{ line }}<br v-if="index < culturalDetails.metro.description.length - 1">
                </span>
            </p>
            <br>
            
            <!-- 地铁特色介绍 -->
            <table class="second1" v-for="feature in culturalDetails.metro.features" :key="feature.id">
                <tr>
                    <td width=400px>
                        <div class="tupian">
                            <img class="image1" :src="feature.image" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="jianjie2">{{ feature.title }}</span>
                            <p class="jianjie1">
                                <span v-for="point in feature.points" :key="point">
                                    ⚪{{ point }}<br>
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br>
        </div>

        <!-- 博饼部分 -->
        <div class="culture-section" id="bb">
            <p class="biaoti">···{{ culturalDetails.bobing.title }}···</p>
            <p class="jianjie">
                <span v-for="(line, index) in culturalDetails.bobing.description" :key="index">
                    {{ line }}<br v-if="index < culturalDetails.bobing.description.length - 1">
                </span>
            </p>
            <br>
            
            <!-- 博饼介绍 -->
            <table class="second1">
                <tr>
                    <td width=400px>
                        <div class="tupian">
                            <img class="image1" :src="culturalDetails.bobing.mainImages[0]" />
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="jjbb">{{ culturalDetails.bobing.whatIs.title }}</p>
                            <p class="jianjie1">
                                <span v-for="(line, index) in culturalDetails.bobing.whatIs.content" :key="index">
                                    {{ line }}<br v-if="index < culturalDetails.bobing.whatIs.content.length - 1">
                                </span>
                            </p>
                        </div>
                    </td>
                    <td width=400px>
                        <div class="tupian">
                            <img class="image1" :src="culturalDetails.bobing.mainImages[1]" />
                        </div>
                    </td>
                </tr>
            </table>
            <br>

            <!-- 博饼场景图片 -->
            <table class="secondrw">
                <tr>
                    <td width=100px></td>
                    <td v-for="image in culturalDetails.bobing.sceneImages.slice(0, 2)" :key="image.src">
                        <img :class="image.className" :src="image.src" />
                    </td>
                    <td width=100px></td>
                </tr>
            </table>
            <p class="jjbb2">{{ culturalDetails.bobing.sceneTitle }}</p>
            
            <table class="secondrw">
                <tr>
                    <td width=50px></td>
                    <td v-for="image in culturalDetails.bobing.activityImages" :key="image.src" :width="image.width">
                        <img :class="image.className" :src="image.src" />
                    </td>
                </tr>
            </table>
            <br><br>
            
            <!-- 博饼规则 -->
            <table class="secondbb">
                <tr>
                    <td>
                        <div>
                            <span class="jianjie2">{{ culturalDetails.bobing.rules.title }}</span>
                            <p class="jianjierl">
                                <span v-for="rule in culturalDetails.bobing.rules.content" :key="rule">
                                    {{ rule }}<br>
                                </span>
                            </p>
                        </div>
                    </td>
                    <td width=150px></td>
                    <td width=400px>
                        <div class="tupian">
                            <div id="max">
                                <div class="re">
                                    <ul>
                                        <li v-for="carouselImage in culturalDetails.bobing.carouselImages" :key="carouselImage">
                                            <img class="imagebb" :src="carouselImage" />
                                        </li>
                                    </ul>
                                    <ol>
                                        <li v-for="n in culturalDetails.bobing.carouselImages.length" :key="n"></li>
                                    </ol>
                                </div>
                            </div>
                            <script src="wenhua.js"></script>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <br><br>
        
        <!-- 结尾总结 -->
        <p class="jianjie">
            <span v-for="(line, index) in conclusion" :key="index">
                {{ line }}<br v-if="index < conclusion.length - 1">
            </span>
        </p>
        <br><br><br>
    </div>
    
    <script>
    const { createApp } = Vue;
    createApp({
        data() {
            return {
                title: '厦门の文化',
                navs: [
                    { text: '主页', href: '../index.html' },
                    { text: '美景篇', href: 'meijing.html' },
                    { text: '美食篇', href: 'meishi.html' },
                    { text: '文化篇', href: 'wenhua.html' }
                ],
                bannerImage: '../img/culture/02.jpg',
                poeticQuote: {
                    line1: '云海苍苍，江水泱泱',
                    line2: '文化之风，山高水长'
                },
                welcomeText: {
                    line1: '欢迎来到厦门的文化篇！',
                    line2: '除了美食美景之外，厦门还有许多特有的城市文化，让我们一起来欣赏吧~'
                },
                tipText: '(点击图片下方文字可跳转)',
                
                // 文化主题预览
                culturalThemes: [
                    { id: 1, name: '闽南语', image: '../img/culture/mnh.png', anchor: 'mnh' },
                    { id: 2, name: '市花市树', image: '../img/culture/hua.jpg', anchor: 'hua' },
                    { id: 3, name: '厦门地铁', image: '../img/culture/dt.jpg', anchor: 'dt' },
                    { id: 4, name: '博饼', image: '../img/culture/bb/bb1.png', anchor: 'bb' }
                ],
                
                // 详细文化内容
                culturalDetails: {
                    minnan: {
                        title: '闽南语',
                        description: [
                            '闽南语是我国七大方言系中最难的方言之一。',
                            '普通话声调只有4个，而闽南语有7个声，',
                            '不仅如此，闽南语中的许多语言是无法用普通话表达的。'
                        ],
                        video: '../media/闽南话.mp4',
                        examples: [
                            { id: 1, image: '../img/culture/mnh1.png', text: '"我吃饱啦"', className: 'shuoming1 s1', audioId: 's1' },
                            { id: 2, image: '../img/culture/mnh2.jpg', text: '"我和你说……"', className: 'shuoming1 s2', audioId: 's2' },
                            { id: 3, image: '../img/culture/mnh3.jpg', text: '"不好意思啦~"', className: 'shuoming1 s3', audioId: 's3' }
                        ],
                        highlights: [
                            '随着闽南文化的发展，闽南语对ACG文化和网络文化的影响在官话以外的各种汉语中可能仅次于粤语。'
                        ],
                        popularWords: [
                            { id: 1, text: '什么', className: 'l l1', audioId: 'l1' },
                            { id: 2, text: '加油', className: 'l l2', audioId: 'l2' },
                            { id: 3, text: '真棒', className: 'l l3', audioId: 'l3' },
                            { id: 4, text: '多谢', className: 'l l4', audioId: 'l4' },
                            { id: 5, text: '不好意思', className: 'l l5', audioId: 'l5' },
                            { id: 6, text: '不要紧', className: 'l l6', audioId: 'l6' },
                            { id: 7, text: '美女', className: 'l l7', audioId: 'l7' },
                            { id: 8, text: '肚子饿', className: 'l l8', audioId: 'l8' }
                        ],
                        tips: {
                            title: 'Tips',
                            content: [
                                '不仅如此，闽南语还有许多说不出道不明的神奇语法噢~',
                                '快跟身边的宝藏闽南人学起来吧!',
                                '闽南语音乐推荐:《爱拼才会赢》、《坚持》、《天黑黑》'
                            ]
                        },
                        music: '../media/爱拼才会赢.mp3'
                    },
                    flowers: {
                        title: '市花市树',
                        description: [
                            '厦门市花——三角梅，三角梅刚柔并济，朴实无华',
                            '厦门市树——凤凰木，凤凰木枝秀叶美，是典型的南国树种'
                        ],
                        images: [
                            '../img/culture/hua1.jpg',
                            '../img/culture/hua2.jpg',
                            '../img/culture/hua3.jpg'
                        ],
                        highlights: [
                            '夏日的厦门，街头的凤凰木开花，荫凉满城，红花簇簇',
                            '秋天的厦门，每一座天桥都有她的花海，是厦门独特又浪漫的秋意氛围'
                        ]
                    },
                    metro: {
                        title: '厦门地铁',
                        description: [
                            '地铁上诙谐有趣的树洞，体验"城在海上，海在城中"的跨海段地铁……',
                            '使短暂的乘车时光更加的欢乐，为一天的行程增添动力。'
                        ],
                        features: [
                            {
                                id: 1,
                                title: '厦门树洞',
                                image: '../img/culture/dt1.jpg',
                                points: [
                                    '在厦门这个人口平均年龄只有36.8岁的年轻城市，',
                                    '"全国首个交通树洞"开通，很快就有了成为"互联网嘴替"的苗头。',
                                    '看似一条条对生活的"怨念"，其实更是人们希冀祈求的美好愿念，',
                                    '是淡然一笑，是挥挥衣袖，是一次次看清生活的本质后，却依然热爱着的生活。'
                                ]
                            },
                            {
                                id: 2,
                                title: '地铁跨海线',
                                image: '../img/culture/dt2.jpg',
                                points: [
                                    '乘坐厦门地铁跨海线，仿佛进入到宫崎骏的动漫世界',
                                    '蓝天碧海飞白鹭，波光云影泛渔舟，海景画卷尽展眼前',
                                    '厦门地铁带您体验城在海上，海在城中。'
                                ]
                            }
                        ]
                    },
                    bobing: {
                        title: '博饼',
                        description: [
                            '风靡大福建的博饼，在中秋佳节博福气博好运',
                            '骰子声声响不停，中秋博饼欢乐多'
                        ],
                        mainImages: [
                            '../img/culture/bb/bb1.png',
                            '../img/culture/bb/bb4.png'
                        ],
                        whatIs: {
                            title: '"博饼"系虾米',
                            content: [
                                '中秋博饼习俗源于厦门，盛行于漳州、泉州等地，',
                                '每逢中秋佳节，闽南地区会以家庭或社团为单位，',
                                '自发举行中秋博饼活动，参加者轮流投掷六个骰子，',
                                '博取状元、榜眼、探花、进士、举人、秀才六个等第',
                                '并按等第获取大小不同的月饼。'
                            ]
                        },
                        sceneImages: [
                            { src: '../img/culture/bb/bb2.png', className: 'imagerw_up' },
                            { src: '../img/culture/bb/bb3.png', className: 'imagerw_up' }
                        ],
                        sceneTitle: '热闹的场面 丰厚的奖品',
                        activityImages: [
                            { src: '../img/culture/bb/bbrw3.png', className: 'imagerw', width: '350px' },
                            { src: '../img/culture/bb/bbrw1.png', className: 'imagerw_long', width: '650px' },
                            { src: '../img/culture/bb/bbrw4.png', className: 'imagerw', width: '350px' }
                        ],
                        rules: {
                            title: '博饼规则',
                            content: [
                                '六杯红：六个4。',
                                '六杯黑：六个其他数字。',
                                '状元插金花：四个4+两个1。',
                                '五子登科：五个相同的数。',
                                '状元：四个4带其他两个任意数。',
                                '对堂：摇出顺子，比如123456',
                                '四进：除了4以外的四个相同的数',
                                '三红：三个4',
                                '二举：两个4',
                                '一秀：一个4'
                            ]
                        },
                        carouselImages: [
                            '../img/culture/bb/bbrule.png',
                            '../img/culture/bb/666.png'
                        ]
                    }
                },
                
                // 所有音频文件
                allAudioFiles: [
                    { id: 's1', src: '../media/s1.m4a' },
                    { id: 's2', src: '../media/s2.m4a' },
                    { id: 's3', src: '../media/s3.m4a' },
                    { id: 'l1', src: '../media/l1.m4a' },
                    { id: 'l2', src: '../media/l2.m4a' },
                    { id: 'l3', src: '../media/l3.m4a' },
                    { id: 'l4', src: '../media/l4.m4a' },
                    { id: 'l5', src: '../media/l5.m4a' },
                    { id: 'l6', src: '../media/l6.m4a' },
                    { id: 'l7', src: '../media/l7.m4a' },
                    { id: 'l8', src: '../media/l8.m4a' }
                ],
                
                // 结尾总结
                conclusion: [
                    '不仅厦门的美食风景，厦门的一切都充满意想不到的惊喜~',
                    '只有你慢下来，停下来，在厦门用心感受，就能发现独属于她的文化之美！'
                ]
            }
        },
        methods: {
            // 播放音频的方法
            playAudio(audioId) {
                const audio = document.getElementById(audioId);
                if (audio) {
                    audio.play();
                }
            },
            
            // 滚动到指定文化主题
            scrollToSection(anchor) {
                const element = document.getElementById(anchor);
                if (element) {
                    element.scrollIntoView({ behavior: 'smooth' });
                }
            }
        },
        computed: {
            // 计算总的文化主题数量
            totalCulturalThemes() {
                return this.culturalThemes.length;
            }
        },
        mounted() {
            // 组件挂载后的操作
            console.log('厦门文化页面已加载，包含', this.totalCulturalThemes, '个文化主题');
            
            // 初始化音频播放功能
            this.initializeAudioElements();
        },
        methods: {
            ...this.methods,
            
            // 初始化音频元素
            initializeAudioElements() {
                // 确保所有音频元素都正确加载
                this.allAudioFiles.forEach(audio => {
                    const element = document.getElementById(audio.id);
                    if (element) {
                        element.preload = 'metadata';
                    }
                });
            },
            
            // 播放音频的增强版本
            playAudio(audioId) {
                try {
                    const audio = document.getElementById(audioId);
                    if (audio) {
                        // 停止其他正在播放的音频
                        this.allAudioFiles.forEach(audioFile => {
                            const otherAudio = document.getElementById(audioFile.id);
                            if (otherAudio && otherAudio !== audio) {
                                otherAudio.pause();
                                otherAudio.currentTime = 0;
                            }
                        });
                        
                        // 播放选中的音频
                        audio.currentTime = 0;
                        audio.play();
                    }
                } catch (error) {
                    console.log('音频播放失败:', error);
                }
            }
        }
    }).mount('#app');
    </script>
</body>
</html>
