#max{
    width: 400px;
    height: 500px;
    /* align-items: right; */
    margin-right: 60px;
    margin-top: 0%;
  }
  .re{
    position: relative;
    height: 500px;
  }
  .re ul{
    list-style-type:none ;
  }
  .re ul>li{
    width: 400px;
    height: 500px;
    position: absolute;
  
    transition: 1s;
    opacity: 0;
  }
  .re ul>li img{
    width: 400px;
    height: 500px;
    border-radius: 0;
    border: 2px solid #fffbd6;
  }
  #max ol {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,60px);
    grid-template-rows: auto;
    grid-gap: 1em;gap: 1em;
    float: right;
    margin-top: 465px;
    list-style: none;
    top: 5px;left: 330px;
  }
  #max ol li {
    width: 25px;
    height: 10px;
    font-size: 15px;
    line-height: 20px;
    float: left;
    text-align: center;
    border-radius: 2em;
    border: 3px solid #57a7ac;
  }
  